
/* Cta.css */

.cta {
    background: linear-gradient(to right, #27295b, #2575fc);
    color: white;
    text-align: center;
    padding: 50px 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  

  .cta:hover {
    transform: scale(1.05);
  }
  
  .cta-content {
    max-width: 600px;
  }
  
  .cta h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .cta p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #ffffff;
    color: #2575fc;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #2575fc;
    color: #ffffff;
    transform: scale(1.1);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .cta {
      padding: 30px 10px;
      height: auto;
    }
  
    .cta h2 {
      font-size: 1.5rem;
    }
  
    .cta p {
      font-size: 1rem;
    }
  
    .cta-button {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  }
  